# Порт приложения (по умолчанию 8080)
APP_PORT=8080

# Режим разработки (1 - включен, 0 - выключен)
DEV=0

# Валюта для отчетов (по умолчанию USD)
REPORT_CURRENCY=USD

# Локальная временная зона (по умолчанию Europe/Moscow)
LOCAL_TIMEZONE=Europe/Moscow
